h1 {
  margin-right: 200px;
}

h3 {
  color: white;
  width: 200px;
}

p {
  background-color: gray;
  width: 40px;
  margin-left: 70px;
}

.item {
  display: flex;
}

button {
  margin-left: 150px;
  color: white;
  width: 200px;
}
